<div class="modal-header">
    <h4 class="modal-title">
        Create Process
    </h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <uib-accordion close-others="true">
            <uib-accordion-group ng-repeat="task in ProcessModal.tasks" is-open="task.status.open">
              <uib-accordion-heading>
                {{task.title}} <i class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': task.status.open, 'glyphicon-chevron-right': !task.status.open}"></i>
              </uib-accordion-heading>
              <ul>
                <li ng-repeat="subtask in task.subtasks"
                    dnd-draggable="subtask"
                    dnd-effect-allowed="copy">
                    {{subtask.title}}
                </li>
              </ul>
            </uib-accordion-group>
          </uib-accordion>
        </div>
        <div class="col-md-9">
          <ul
              class="drop-list"
              dnd-list="task.subtasks"
              dnd-drop="ProcessModal.onCopy(event, index, item)"
              dnd-horizontal-list="true">
              <li ng-repeat-start="task in ProcessModal.copiedTasks">
                {{task.title}}
              </li>
              <li ng-repeat-end class="arrow"><i class="fa fa-long-arrow-right"></i></li>
          </ul>
          <div class="options">
            <div ui-view></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="ProcessModal.ok()">OK</button>
</div>
