<section>
    <div class="page-header">
        <span class="h1">{{ postsStep2.newPost ? 'New' : 'Edit' }} Post</span>
        <span>
        <span data-ng-if="postsStep2.post.access === 'paid'" class="pull-right glyphicon glyphicon-usd" title="For Sale"></span>
        <span data-ng-if="postsStep2.post.files.length" class="pull-right glyphicon glyphicon-file" title="PDFs attached"></span>
        <span data-ng-if="postsStep2.post.datasets.length" class="pull-right glyphicon glyphicon-list" title="Datasets Attached"></span>
        <span data-ng-if="postsStep2.post.models.length" class="pull-right glyphicon glyphicon-stats" title="Models Attached"></span>
        </span>
    </div>
    <div class="col-md-12">
        <div class="row">
            <h2>Add Data, Models, and .pdf files to your Post for reproducible research</h2>
            <p>Don't have any models or datasets yet? <a ui-sref="datasets.list">Find datasets</a> based on your interests, and then open them in your <a ui-sref="lab.process">Lab</a> to fit a predictive model to them! Or you can save what <a ui-sref="users.list">other users are working on as a starting point</a>.</p>
        </div>
        <form name="form" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{'active' : postsStep2.activeTab == 'Datasets' }" ng-click="postsStep2.activeTab = 'Datasets'">
                            <a data-toggle="pill" href=""><span class="glyphicon glyphicon-list"></span> Datasets</a>
                        </li>
                        <li ng-class="{'active' : postsStep2.activeTab == 'Models' }" ng-click="postsStep2.activeTab = 'Models'">
                            <a data-toggle="pill" href=""><span class="glyphicon glyphicon-stats"></span> Models</a>
                        </li>
                        <li ng-class="{'active' : postsStep2.activeTab == 'PDF' }" ng-click="postsStep2.activeTab = 'PDF'">
                            <a data-toggle="pill" href=""><span class="glyphicon glyphicon-file"></span> PDF's</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active' : postsStep2.activeTab == 'Datasets' }">
                            <form name="datasetform" novalidate>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" for="dataset">Dataset</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="dataset" id="dataset" ng-model="postsStep2.dataset" class="form-control" ng-options="dataset as dataset.title for dataset in postsStep2.datasets">
                                            <option value="">- Select Dataset -</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="postsStep2.user.plan !== 'free' && postsStep2.dataset">
                                    <div class="col-md-12">
                                        <p><strong>Note: Any changes you make here will be update your dataset.</strong></p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" for="access">Access</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="access" id="access" ng-model="postsStep2.dataset.access" class="form-control" ng-change="postsStep2.changeDatasetAccess(postsStep2.dataset)" ng-options="access as (access | capitalize) for access in postsStep2.postOptions.access">
                                        </select>
                                        <div ng-if="postsStep2.dataset.access == 'private'" role="alert">
                                            <p class="help-block error-text">You can not attached a private dataset to the post, you need to change its access level.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="postsStep2.user.plan !== 'free' && postsStep2.dataset.access == 'for sale' && postsStep2.dataset">
                                    <div class="col-md-3">
                                        <label class="control-label" for="cost">Price</label>
                                    </div>
                                    <div class="col-md-3 input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" name="cost" id="cost" class="form-control" ng-model="postsStep2.dataset.cost" min="1" ng-min="1" step="0.50" />
                                        <div ng-if="datasetform.cost.$error" ng-messages="datasetform.cost.$error" role="alert">
                                            <p class="help-block error-text" ng-message="required">Enter a price greater than $1.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="postsStep2.user.plan !== 'free' && postsStep2.dataset.access == 'for sale' && postsStep2.dataset">
                                    <div class="col-md-3">
                                        <label class="control-label" for="cost">Preview Note</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea name="previewnote" id="previewnote" class="form-control" ng-model="postsStep2.dataset.previewnote"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button ng-show="postsStep2.dataset" data-ng-click="postsStep2.addDataset(postsStep2.dataset)" class="btn btn-default text-capitalize" type="button" dropdown-toggle>
                                            Add Dataset
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div ng-show="postsStep2.post.datasets.length">
                                <ul data-ng-if="postsStep2.post.datasets" class="list-inline">
                                    <li data-ng-repeat="dataset in postsStep2.post.datasets track by $index" class="badge text-capitalize">
                                        <span data-ng-click="postsStep2.removeDataset(dataset)" class="glyphicon glyphicon-remove" href="#"></span>
                                        <a href="#" class="h5">{{dataset.title}}</a><br/>
                                    </li>
                                </ul><br/>
                            </div>
                        </div>
                        <div class="tab-pane" ng-class="{'active' : postsStep2.activeTab == 'Models' }">
                            <form name="modelform" novalidate>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="control-label" for="model">Model</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="model" id="model" ng-model="postsStep2.model" class="form-control" ng-options="model as model.title for model in postsStep2.models">
                                            <option value="">- Select Model -</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="postsStep2.user.plan !== 'free' && postsStep2.model">
                                    <div class="col-md-12">
                                        <p><strong>Note: Any changes you make here will be update your model.</strong></p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" for="access">Access</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="access" id="access" ng-model="postsStep2.model.access" class="form-control" ng-change="postsStep2.changeModelAccess(postsStep2.model)" ng-options="access as (access | capitalize) for access in postsStep2.modelOptions.access">
                                        </select>
                                        <div ng-if="postsStep2.model.access == 'private'" role="alert">
                                            <p class="help-block error-text">You can not attached a private model to the post, you need to change its access level.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="postsStep2.user.plan !== 'free' && postsStep2.model.access == 'for sale' && postsStep2.model">
                                    <div class="col-md-3">
                                        <label class="control-label" for="cost">Price</label>
                                    </div>
                                    <div class="col-md-3 input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" name="cost" id="cost" class="form-control" ng-model="postsStep2.model.cost" min="1" ng-min="1" step="0.50" />
                                        <div ng-if="modelform.model.$error" ng-messages="modelform.model.$error" role="alert">
                                            <p class="help-block error-text" ng-message="required">Enter a price greater than $1.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="postsStep2.user.plan !== 'free' && postsStep2.model.access == 'for sale' && postsStep2.model">
                                    <div class="col-md-3">
                                        <label class="control-label" for="cost">Preview Note</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea name="previewnote" id="previewnote" class="form-control" ng-model="postsStep2.model.previewnote"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button ng-show="postsStep2.model" data-ng-click="postsStep2.addModel(postsStep2.model)" class="btn btn-default text-capitalize" type="button" dropdown-toggle>
                                            Add Model
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div ng-show="postsStep2.post.models.length">
                                <ul data-ng-if="postsStep2.post.models" class="list-inline">
                                    <li data-ng-repeat="model in postsStep2.post.models track by $index" class="badge text-capitalize">
                                        <span data-ng-click="postsStep2.removeModel(model)" class="glyphicon glyphicon-remove" href="#"></span>
                                        <a href="#" class="h5">{{model.title}}</a><br/>
                                    </li>
                                </ul><br/>
                            </div>
                        </div>
                        <div class="tab-pane" ng-class="{'active' : postsStep2.activeTab == 'PDF' }">
                            <div class="row">
                                <div class="col-md-7">
                                    <select ng-model="existingFile" class="form-control" ng-options="file as file.name for file in postsStep2.user.files">
                                        <option value="">- Existing Files -</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <a href="" class="btn btn-default" ng-show="existingFile" ng-click="postsStep2.addExistingFile(existingFile)">
                                        Select existing PDF
                                    </a>
                                    <span ng-hide="vm.uploader.queue.length">
                                        <span class="btn btn-default btn-file">
                                          Add PDF
                                          <input type="file" nv-file-select uploader="uploader"/>
                                         </span>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="postsStep2.post.files.length">
                                <ul class="list-inline">
                                    <li ng-repeat="file in postsStep2.post.files track by $index" class="badge">
                                        <span class="glyphicon glyphicon-file"></span> {{file.name}}
                                        <span ng-click="postsStep2.removeFile(file)" class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                                <br/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
            <fieldset>
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn" ng-click="$event.preventDefault();postsStep2.back();">Back</button>
                    </div>
                    <div class="col-md-offset-10 col-md-1">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="postsStep2.update(form)">Submit</button>
                    </div>
                </div>
                <div ng-show="form.error" class="text-danger">
                    <strong>{{form.error}}</strong>
                </div>

            </fieldset>
        </form>
    </div>
</section>
