<section class="row" ng-controller="ManagedAccountController">
  <div class="col-md-8 col-md-offset-2" >
    <div class="form-group" ng-if="chooseCountry">
      <label for="country" class="control-label">Country:</label>
      <select name="country"
        ng-model="country"
        ng-options="o.name for o in countries"
        ng-change="selectCountry(country)" class="form-control"/>
    </div>

    <p ng-if="accountLoaded && legal_entity.verification.status">
      <button ng-click="testCharge()" class="btn btndefault">Create charge</button>
      <button ng-click="newAccount()" class="btn btndefault">ceate new account</button>
    </p>

    <form class="form company" name="form" ng-show="accountLoaded" ng-submit="validate(form)"  novalidate>

      <div class="alert alert-warning" ng-if="legal_entity.verification.status === 'unverified'">
        Your account is not verified
        <p>{{legal_entity.verification.details}}</p>
      </div>
      <div class="alert alert-info" ng-if="legal_entity.verification.status === 'pending'">
        Your account verification is pending
      </div>
      <div class="alert alert-success" ng-if="legal_entity.verification.status === 'verified'">
        Your account is verified
      </div>
      <div class="well" ng-if="verification.fields_needed.length">
        <h4>Please provide additional information to verify your account</h4>
        <p ng-if="verification.fields_needed.indexOf('legal_entity.verification.document')>-1">
          Upload a scan of an identifying document, such as a passport or driver’s license.
        </p>
        <p ng-if="verification.fields_needed.indexOf('legal_entity.personal_id_number')>-1">
          Your social security number
        </p>
        <p class="text-right">
          <button ui-sref="settings.gettingpaid.additional" class="btn btn-default">Verify your account</button>
        </p>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Account details <a ng-click="switchEdit(true)" href="#" ng-if="!edit && legal_entity.verification.status === 'unverified'" class="pull-right"><i class="fa fa-edit"></i> Edit</a>
        </div>
        <div class="panel-body">

          <div ng-if="!edit && type.name !== 'Individual' ">
            <p><label>Business Type:</label> {{type.name}}</p>
            <p ng-if="legal_entity.type !== 'individual'"><label>Business Name:</label> {{legal_entity.business_name}}</p>
            <p><label>Address:</label> {{legal_entity.address.line1}}, {{legal_entity.address.city}}, {{legal_entity.address.state}} {{legal_entity.address.postal_code}}</p>
          </div>

          <div ng-if="!edit">
            <p><label>Name:</label> {{legal_entity.first_name}} {{legal_entity.last_name}}</p>
            <p><label>Date of Birth:</label> {{legal_entity.dob}}</p>
            <p ng-if="type.name == 'Individual'"><label>Address:</label> {{legal_entity.address.line1}}, {{legal_entity.address.city}}, {{legal_entity.address.state}} {{legal_entity.address.postal_code}}</p>
          </div>

          <div ng-if="edit">
            <div class="form-group">
              <label for="type" class="control-label">I register as:</label>
              <select name="type" ng-model="type"
              ng-options="o.name for o in businessTypes"
              ng-change="selectType(type)" class="form-control" />
            </div>

            <div class="form-group" ng-if="type.value !== 'individual'" show-errors>
              <label for="biz_legal_name" class="control-label">Legal name:</label>
              <input class="form-control" name="biz_legal_name" placeholder="Company, Inc." type="text" ng-model="legal_entity.business_name"  required>
              <div ng-if="form.biz_legal_name.$error && submitted" ng-messages="form.biz_legal_name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">This field is required</p>
              </div>
            </div>

            <div class="form-group" ng-if="type.code !== 'individual' && !legal_entity.business_tax_id_provided" show-errors>
              <label for="biz_tax_id_no" class="control-label">EIN (Tax ID):</label>
              <input class="form-control" name="tax_id" autocomplete="off" placeholder="123456789" type="text"
              ng-model="legal_entity.business_tax_id" ng-required="type.code!=='individual'">
              <div ng-if="form.business_tax_id.$error && submitted" ng-messages="form.business_tax_id.$error" role="alert">
                <p class="help-block error-text" ng-message="required">This field is required</p>
              </div>
            </div>

            <div ng-if="type.value !== 'individual'">
              <div class="form-group" show-errors>
                <label for="biz_street" class="control-label">Business address:</label>
                <input class="form-control" name="street" placeholder="Street" type="text" ng-model="legal_entity.address.line1" required>
                <div ng-if="form.street.$error && submitted" ng-messages="form.street.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">This field is required</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 form-group" show-errors>
                  <input class="form-control" name="zip" autocomplete="off" placeholder="ZIP" type="text" ng-model="legal_entity.address.postal_code" required>
                  <div ng-if="form.zip.$error && submitted" ng-messages="form.zip.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">This field is required</p>
                  </div>
                </div>
                <div class="col-sm-4 form-group" show-errors>
                  <input class="form-control" name="city" placeholder="City" type="text" ng-model="legal_entity.address.city" required>
                  <div ng-if="form.city.$error && submitted" ng-messages="form.city.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">This field is required</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <select name="state" name="type" ng-model="legal_entity.address.state"
                    ng-options="state for state in states"
                    ng-change="selectState(state)" class="form-control" />
                </div>
              </div>

            </div>


            <h4 ng-if="type.value == 'individual'">Your personal details</h4>
            <h4 ng-if="type.value != 'individual'">You, the company representative</h4>


            <div ng-if="edit">
              <div class="row" >
                <div class="col-sm-6 form-group" show-errors>
                  <input class="form-control" name="first_name" placeholder="First" ng-model="legal_entity.first_name" type="text" required>
                  <div ng-if="form.first_name.$error && submitted" ng-messages="form.first_name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">This field is required</p>
                  </div>
                </div>
                <div class="col-sm-6 form-group" show-errors>
                  <input class="form-control" name="last_name" placeholder="Last" ng-model="legal_entity.last_name" type="text" required>
                  <div ng-if="form.last_name.$error && submitted" ng-messages="form.last_name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">This field is required</p>
                  </div>
                </div>
              </div>

              <div ng-if="type.value === 'individual'">
                <div class="form-group" show-errors>
                  <label for="biz_street" class="control-label">Your address:</label>
                  <input class="form-control" name="street" placeholder="Street" type="text" ng-model="legal_entity.address.line1" required>
                  <div ng-if="form.street.$error && submitted" ng-messages="form.street.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">This field is required</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 form-group" show-errors>
                    <input class="form-control" name="zip" autocomplete="off" placeholder="ZIP" type="text" ng-model="legal_entity.address.postal_code" required>
                    <div ng-if="form.zip.$error && submitted" ng-messages="form.zip.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">This field is required</p>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group" show-errors>
                    <input class="form-control" name="city" placeholder="City" type="text" ng-model="legal_entity.address.city" required>
                    <div ng-if="form.city.$error && submitted" ng-messages="form.city.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">This field is required</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <select name="state" name="type" ng-model="legal_entity.address.state"
                      ng-options="state for state in states"
                      ng-change="selectState(state)" class="form-control" />
                  </div>
                </div>
              </div>




              <div class="form-group" show-errors>
                <label class="control-label" for="dob">Date of birth:</label>
                 <input type="text" name="dob" class="form-control" placeholder="mm / dd / yyyy"
                 ng-model="legal_entity.dob" dob-validate dob-format required/>
                 <div ng-if="form.dob.$error && submitted" ng-messages="form.dob.$error" role="alert">
                   <p class="help-block error-text" ng-message="required">The date of birth is required</p>
                   <p class="help-block error-text" ng-message="dob">Please enter a valid date</p>
                 </div>
              </div>

              <div class="form-group" ng-if="!legal_entity.ssn_last_4_provided" show-errors>
                <label class="control-label" for="owner_ssn_last_4">Social Security Number 4 Last Digits:</label>
                <input  class="form-control" name="owner_ssn_last_4" placeholder="9999" maxlength="4" minlength="4" type="text" ng-model="legal_entity.ssn_last_4" >
                <p class="small">We use the last four digits to verify your identity.</p>
                <div ng-if="form.owner_ssn_last_4.$error && submitted" ng-messages="form.owner_ssn_last_4.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">This field is required</p>
                  <p class="help-block error-text" ng-message="minlength">Has to be 4 digits long</p>
                  <p class="help-block error-text" ng-message="maxlength">Has to be 4 digits long</p>
                </div>
              </div>


              <div class="form-group text-right" ng-if="!register && legal_entity.verification.status !='verified'">


                <span ng-if="edit">
                  <a ng-click="switchEdit(false)"  class="btn btn-default btn-lg">Cancel</a>
                  <button type="submit" class="btn btn-primary btn-lg">Update your account</button>
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>









      <div class="panel panel-default">
        <div class="panel-heading">Bank details <a ng-if="external_account.bank_name" ui-sref="settings.gettingpaid.bank" class="pull-right"><i class="fa fa-edit"></i> Edit</a></div>
        <div class="panel-body">
          <div ng-if="external_account.id">
            <p><label>Bank Name:</label> {{external_account.bank_name}}</p>
            <p><label>Routing Number:</label> {{external_account.routing_number}}</p>
            <p><label>Last 4 digits of Account Number:</label> {{external_account.last4}}</p>
          </div>
          <div ng-if="!external_account.id">
            <p class="explanation bank_extra">Your bank account must be a checking account.</p>
            <div ng-include="'modules/users/client/views/settings/gettingpaid/bank-account-fields.client.view.html'"></div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="register">
        <p class="small">By registering your account, you agree to our <a href="#" ng-click="openTerms()">Services Agreement</a>.</p>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Register your account</button>
      </div>

    </form>
  </div>
</section>
