<section class="row" ng-controller="ManagedAccountController">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" >
    <div class="form-group" ng-if="chooseCountry">
      <label for="country" class="control-label">Country:</label>
        <select name="country"
          ng-model="country"
          ng-options="o.name for o in countries"
          ng-change="selectCountry(country)" class="form-control"/>
      </div>

    <div class="well" ng-if="country.code!='US'">
    <a href="#" class="stripe-connect btn btn-primary"><span>Connect with Stripe</span></a>
    </div>


  <form class="form company" name="form" ng-if="accountLoaded" ng-submit="validate(form)"  novalidate>

    <div class="alert alert-danger" ng-if="verification.fields_needed.length">
      <h4>We could not verify your account</h4>
      <p>Please provide the requested information</p>
      <p ng-if="verification.fields_needed.indexOf('external_account')>-1">
        A valid Bank account number
      </p>
      <p ng-if="verification.fields_needed.indexOf('legal_entity.verification.document')>-1">
        Upload a scan of an identifying document, such as a passport or driver’s license.
      </p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Account details
      </div>
      <div class="panel-body">

        <div ng-if="legal_entity.verification.status =='verified'">
          <p><label>Business Type:</label> {{type.name}}</p>
          <p><label>Business Name:</label> {{legal_entity.business_name}}</p>
          <p><label>Address:</label> {{legal_entity.address.line1}}, {{legal_entity.address.city}}, {{legal_entity.address.state}} {{legal_entity.address.postal_code}}</p>
        </div>

        <div ng-if="legal_entity.verification.status !='verified'">
          <div class="form-group">
            <label for="type" class="control-label">Your business type:</label>
            <select name="type" ng-model="type"
            ng-options="o.name for o in businessTypes"
            ng-change="selectType(type)" class="form-control" />
          </div>

          <div class="form-group" ng-if="type.code !== 'sole_prop'" show-errors>
            <label for="biz_legal_name" class="control-label">Legal name:</label>
            <input class="form-control" name="biz_legal_name" placeholder="Company, Inc." type="text" ng-model="legal_entity.business_name"  required>
            <div ng-if="form.biz_legal_name.$error && submitted" ng-messages="form.biz_legal_name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">required</p>
            </div>
          </div>

          <div class="form-group" ng-if="!legal_entity.business_tax_id_provided || legal_entity.verification.status !='verified'" show-errors>
            <label for="biz_tax_id_no" class="control-label">EIN (Tax ID)
              <span ng-if="type.code=='sole_prop'"> optional</span>:
            </label>
            <input class="form-control" name="tax_id" autocomplete="off" placeholder="123456789" type="text"
            ng-model="legal_entity.business_tax_id" ng-required="type.code!=='sole_prop'">
            <div ng-if="form.business_tax_id.$error && submitted" ng-messages="form.business_tax_id.$error" role="alert">
              <p class="help-block error-text" ng-message="required">required</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label for="biz_street" class="control-label">Business address:</label>
            <input class="form-control" name="street" placeholder="Street" type="text" ng-model="legal_entity.address.line1" required>
            <div ng-if="form.street.$error && submitted" ng-messages="form.street.$error" role="alert">
              <p class="help-block error-text" ng-message="required">required</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group" show-errors>
              <input class="form-control" name="zip" autocomplete="off" placeholder="ZIP" type="text" ng-model="legal_entity.address.postal_code" required>
              <div ng-if="form.zip.$error && submitted" ng-messages="form.zip.$error" role="alert">
                <p class="help-block error-text" ng-message="required">required</p>
              </div>
            </div>
            <div class="col-sm-4 form-group" show-errors>
              <input class="form-control" name="city" placeholder="City" type="text" ng-model="legal_entity.address.city" required>
              <div ng-if="form.city.$error && submitted" ng-messages="form.city.$error" role="alert">
                <p class="help-block error-text" ng-message="required">required</p>
              </div>
            </div>
            <div class="col-sm-4">
              <select name="state" name="type" ng-model="legal_entity.address.state"
                ng-options="state for state in states"
                ng-change="selectState(state)" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span ng-if="type.code == 'sole_prop'">Your personal details</span>
        <span ng-if="type.code != 'sole_prop'">You, the company representative</span>
      </div>
      <div class="panel-body">
        <div ng-if="legal_entity.verification.status =='verified'">
          <p><label>Name:</label> {{legal_entity.first_name}} {{legal_entity.last_name}}</p>
          <p><label>Date of Birth:</label> {{legal_entity.dob}}</p>
        </div>
        <div ng-if="legal_entity.verification.status !='verified'">
          <div class="row" >
            <div class="col-sm-6 form-group" show-errors>
              <input class="form-control" name="first_name" placeholder="First" ng-model="legal_entity.first_name" type="text" required>
              <div ng-if="form.first_name.$error && submitted" ng-messages="form.first_name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">required</p>
              </div>
            </div>
            <div class="col-sm-6 form-group" show-errors>
              <input class="form-control" name="last_name" placeholder="Last" ng-model="legal_entity.last_name" type="text" required>
              <div ng-if="form.last_name.$error && submitted" ng-messages="form.last_name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">required</p>
              </div>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="dob">Date of birth:</label>
             <input type="text" name="dob" class="form-control" placeholder="mm / dd / yyyy"
             ng-model="legal_entity.dob" dob-validate dob-format required/>
             <div ng-if="form.dob.$error && submitted" ng-messages="form.dob.$error" role="alert">
               <p class="help-block error-text" ng-message="required">required</p>
             </div>
          </div>

          <div class="form-group" ng-if="!legal_entity.ssn_last_4_provided" show-errors>
            <label class="control-label" for="owner_ssn_last_4">Social Security Number 4 Last Digits:</label>
            <input  class="form-control" name="owner_ssn_last_4" placeholder="9999" maxlength="4" type="text" ng-model="legal_entity.ssn_last_4" required>
            <p class="small">We use the last four digits to verify your identity.</p>
            <div ng-if="form.owner_ssn_last_4.$error && submitted" ng-messages="form.owner_ssn_last_4.$error" role="alert">
              <p class="help-block error-text" ng-message="required">required</p>
            </div>
          </div>

          <div class="form-group" ng-if="!register && (!legal_entity.personal_id_number_provided)" show-errors>
            <label class="control-label" for="owner_ssn_last_4">Social Security Number:</label>
            <input  class="form-control" name="personal_id_number" placeholder="12345678910"
            maxlength="9" type="text" ng-model="legal_entity.personal_id_number" >
          </div>
        </div>
      </div>
    </div>


    <div class="form-group" ng-if="!register && legal_entity.verification.status !='verified'">
      <button type="submit" class="btn btn-default btn-lg btn-block">Update your account</button>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">Bank details</div>
      <div class="panel-body">
        <div ng-if="external_account.id">
          <p><label>Bank Name:</label> {{external_account.bank_name}}</p>
          <p><label>Routing Number:</label> {{external_account.routing_number}}</p>
          <p><label>Last 4 digits of Account Number:</label> {{external_account.last4}}</p>
        </div>
        <div ng-if="!external_account.id">
          <p class="explanation bank_extra">Your bank account must be a checking account.</p>
          <div class="form-group"  show-errors>
            <label class="control-label" for="account_number">Routing number:</label>
            <input data-number-type="routing" class="routing form-control" name="routing_number"
            ng-model="external_account.routing_number" placeholder="111000000" type="text" required >
          </div>

          <div class="form-group"  show-errors>
            <label class="control-label" for="account_number">Account number:</label>
            <input class="form-control" name="account_number" autocomplete="off" placeholder=""
            ng-model="external_account.account_number" maxlength="34" type="text" required>
            <div ng-if="form.account_number.$error && submitted" ng-messages="form.account_number.$error" role="alert">
              <p class="help-block error-text" ng-message="required">required</p>
            </div>
          </div>

          <div class="form-group"  show-errors>
            <label class="control-label" for="account_number">Confirm account number:</label>
            <input class="form-control" name="account_number_validate" autocomplete="off" placeholder=""  ng-model="account_number_validate" maxlength="34" type="text" required>
            <div ng-if="form.account_number_validate.$error && submitted" ng-messages="form.account_number_validate.$error" role="alert">
              <p class="help-block error-text" ng-message="required">required</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="register">
      <p class="small">By registering your account, you agree to our <a href="#">Services Agreement</a> and the <a href="#">Stripe Connected Account Agreement</a>.</p>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Register your account</button>
    </div>

  </form>
  <div style="height:350px"></div>
  </div>
  </div>

  <ui-view></ui-view>
</section>
