<section class="row" ng-controller="GettingPaidAdditionalController">
  <div class="col-md-8 col-md-offset-2" >

    <h2>Account verification</h2>

    <div ng-if="verification.fields_needed.length && accountLoaded">
      <h3>Submit additional information</h3>
    </div>

    <div class="alert alert-success" ng-if="!verification.fields_needed.length && accountLoaded">
      <p>We do not require additional information at this time</p>
      <p><a ui-sref="settings.gettingpaid.account" class="btn btn-default">Back</a></p>
    </div>



    <form class="form company" name="form" ng-if="accountLoaded" ng-submit="validate(form)" ng-hide="accountUpdated"  novalidate>
      <div ng-if="verification.fields_needed.indexOf('legal_entity.verification.document')>-1">
        <div class="form-group" >
          <div ng-hide="uploading || fileUploadSuccess">
            <label class="control-label" for="owner_ssn_last_4">
              Upload a scan of an identifying document, such as a passport or driver’s license.
            </label>
            <span class="btn btn-default btn-file">
                Select Document <input type="file" nv-file-select uploader="uploader">
            </span>
            <p>image/jpeg, image/png, or application/pdf. The maximum allowed file size is 4MB.</p>
          </div>
          <div class="form-group" ng-show="uploading">
            <strong>Please be patient we are uploading your document</strong>
          </div>
          <div ng-show="fileUploadSuccess" class="text-success">
            <strong>Document uploaded successfully</strong>
          </div>
        </div>
        <div class="form-group text-right" ng-hide="uploading">
          <a ui-sref="settings.gettingpaid.account" class="btn btn-default btn-lg">Cancel</a>
        </div>
      </div>


      <div ng-if="verification.fields_needed.indexOf('legal_entity.personal_id_number')>-1" ng-hide="submitting">
        <div class="form-group" show-errors>
          <label class="control-label" for="owner_ssn_last_4">Provide your social security number:</label>
          <input  class="form-control" name="personal_id_number" placeholder="1234567891"
          minlength="9" maxlength="9" type="text" ng-model="legal_entity.personal_id_number" required >
          <div ng-if="form.personal_id_number.$error && submitted" ng-messages="form.personal_id_number.$error" role="alert">
            <p class="help-block error-text" ng-message="required">This field is required</p>
            <p class="help-block error-text" ng-message="minlength">Your ssn has to be 9 digits long</p>
            <p class="help-block error-text" ng-message="maxlength">Your ssn has to be 9 digits long</p>
          </div>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div class="form-group text-right">
          <a ui-sref="settings.gettingpaid.account" class="btn btn-default btn-lg">Cancel</a> <button type="submit" class="btn btn-primary btn-lg">Verify your account</button>
        </div>
      </div>
    </form>
    <div class="alert alert-success" ng-if="accountUpdated"><p>Thank you! We are now processing your information and verifying your account</p>
      <p><a ui-sref="settings.gettingpaid.account" class="btn btn-default">Back</a></p>
    </div>
  </div>
</section>
