<section>
    <div class="page-header">
        <h1>New Post</h1>
    </div>
    <div class="col-md-12">
        <form name="postForm" class="form-horizontal"
              ng-submit="postsCreate.create(postForm.$valid)"
              novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title">Title</label>
                    <input name="title" type="text"
                           ng-model="postsCreate.post.title" id="title"
                           class="form-control" placeholder="Title"
                           required>
                    <div ng-if="postForm.title.$error && postForm.title.$dirty"
                         ng-messages="postForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">post title is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content"
                              ng-model="postsCreate.post.content" id="content" class="form-control"
                              cols="30" rows="10"
                              placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="postsCreate.error" class="text-danger">
                    <strong>{{postsCreate.error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
