<section ng-controller="postsCreateController" class="container-fluid post-modal">
    <div class="page-header">
        <span class="h1">Files</span>
        <span ng-hide="vm.uploader.queue.length" class="pull-right">
            <span class="btn btn-default btn-file">
              Add PDF 
              <input type="file" nv-file-select uploader="uploader"/>
             </span>
        </span>
    </div>
    <div class="list-group">
        <div data-ng-repeat="file in vm.user.files track by $index" class="list-group-item">
            <span class="h4 list-group-item-heading">
                {{file.name}}
            </span>
            <a class="btn btn-sm btn-default pull-right" ng-disabled="vm.selectedData.indexOf(file) !== -1" ng-click="vm.ok(file)">Select</a>
        </div>
    </div>
    <div class="text-center form-group" ng-show="vm.uploader.queue.length">
        <button class="btn btn-primary" ng-click="vm.upload();">Upload</button>
        <button class="btn btn-default" ng-click="vm.cancelUpload();">Cancel</button>
    </div>
    <div ng-show="success" class="text-center text-success">
        <strong>File uploaded sucessfully</strong>
    </div>
    <div ng-show="error" class="text-center text-danger">
        <strong ng-bind="error"></strong>
    </div>
    <div class="modal-footer">
            <button class="btn btn-default pull-right" ng-click="vm.cancel();">Cancel</button>
    </div>

</section>
