<section ng-controller="postsController" ng-init="find()">
    <div data-ng-class="" class="page-header">
        <h1>Posts</h1>
        <!-- Posts by Category -->
    <div data-ng-if="filter">
        <div class="col-lg-12 text-center">
            <div class="page-header">
                <ul class="list-inline">
                    <li data-ng-repeat="item in menuItems" data-ng-class="{ active: $state.includes(item.state) }">
                        <a data-ui-sref="{{item.state}}" data-ng-bind="item.title" data-ui-sref-active="active"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="list-group">
        <a ng-repeat="post in posts" ui-sref="posts.view({postId: post._id})" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span ng-bind="post.created | date:'mediumDate'"></span>
                by
                <span ng-if="post.user" ng-bind="post.user.displayName"></span>
                <span ng-if="!post.user">Deleted User</span>
            </small>
            <h4 class="list-group-item-heading" ng-bind="post.title"></h4>
            <p class="list-group-item-text" ng-bind="post.content"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="posts.$resolved && !posts.length">
        No posts yet, why don't you <a ui-sref="posts.create">create one</a>?
    </div>
</section>
