<section>

    <div data-ng-hide="home.authentication.user">
        <!-- Header -->
        <a name="about"></a>
        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>Landing Page</h1>
                            <h3>A Template by Start Bootstrap</h3>
                            <hr class="intro-divider">
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
                        <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="modules/core/client/img/ipad.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                        <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free
                            photoshop actions!</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="modules/core/client/img/dog.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="modules/core/client/img/phones.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <a name="contact"></a>
        <div class="banner">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Connect to Start Bootstrap:</h2>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.banner -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <div data-ng-show="(home.authentication.user)">

        <!-- Header Carousel -->
        <header ng-controller="CarouselCtrl as carousel" class="header-carousel--home">
            <div style="height: 305px; position: relative;">
                <div class="home-posts-search">
                    <form name="postsform" ng-submit="home.searchPosts(post)">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control" ng-model="post.query" placeholder="Posts Search">
                        </div>
                    </form>
                </div>
                <carousel interval="5000">
                    <slide ng-repeat="slide in carousel.slides" active="slide.active" index="slide.id">
                        <img ng-src="{{slide.image}}" class="img--home-carousel" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>Slide {{slide.id}}</h4>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
        </header>

        <div class="container">
            <div ng-repeat="item in home.news">
                <a ui-sref="posts.external({ url : item.link })"><h3>{{item.title}}</h3></a>
                <p>{{item.created | date: 'dd MMMM yyyy' }}</p>
                <p>{{item.description}}</p>
            </div>
        </div>
        <!-- Page Content -->
        <div is-need-container="toggle">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li data-ng-repeat="item in home.tabs" ng-class="{'active' : item == home.activeTab }" ng-click="home.changeTab(item)">
                    <a data-ng-bind="item" data-toggle="tab" href=""></a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="item in home.tabs" ng-class="{'active' : item == home.activeTab }" class="tab-pane">
                    <div ng-if="item == 'Finance'">
                        <div class="row finance-company-container">
                            <div class="col-md-offset-7 col-md-3">
                                <form name="companyform" ng-submit="home.searchCompany(company)">
                                    <div class="inner-addon left-addon">
                                        <i class="glyphicon glyphicon-search"></i>
                                        <input type="text" class="form-control" ng-model="company.query" placeholder="Company Search">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                                <a href="">Smart Screener</a>
                            </div>
                        </div>
                        <div ui-view="posts-finance@home">
                        </div>
                    </div>
                    <div ng-if="item == 'SoshSci'">
                        <div ui-view="posts-soshsci@home">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
