<div class="wrapper" ng-controller="SideBarCtrl">
    <ul class="sidebar-nav" data-ng-if="sidebarMenu.shouldRender(authentication.user);">
    		<li class="sidebar-brand">
    			MENU
    		</li>
        <li data-ng-repeat="item in sidebarMenu.items | orderBy: 'position'"
            data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type"
            data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }"
            class="{{item.class}}" dropdown="item.type === 'dropdown'">

            <a ng-switch-default data-ui-sref="{{item.state}}" ui-sref-active="active">
            	<i class="fa {{item.faIcon}}" aria-hidden="true" ng-if="item.faIcon"></i>
            	<span data-ng-bind="item.title"></span>
            </a>
        </li>
    </ul>
    
</div>
