<section ng-controller="PricingController">
  <div style="height:50px"></div>
  <div class="page-header">
    <h1>Pricing</h1>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-12 col-sm-6"  ng-repeat="(key, plan) in plans">
      <div class="panel panel-{{plan.color}} text-center">
        <div ng-if="plan.id != 'free'"><h3>{{plan.name}}</h3>
        from $<span style="font-size:40px">{{plan.from | number:2}}</span></div>
        <div ng-if="plan.id == 'free'"><h3>{{plan.name}}</h3>
        $<span style="font-size:40px">0</span></div>
         <ul class="list-group">
          <li ng-repeat="(fkey, feature) in plan.features" class="list-group-item">{{fkey}} :
            <span ng-if="feature=='ok'" class="fa fa-check text-success"></span>
            <span ng-if="feature=='no'" class="fa fa-times text-danger"></span>
            <span ng-if="feature!='ok' && feature!='no'">{{feature}}</span>
          </li>
        </ul>

        <div class="panel-body" ng-if="plan.id != 'free'">
          <button ng-if="user.plan != plan.id" class="btn btn-lg btn-{{plan.color}} btn-block" ng-click="selectPlan(plan.id)">Subscribe</button>
          <button ng-if="user.plan == plan.id" class="btn btn-lg btn-default btn-block disabled">
            <span class="fa fa-check text-success"></span> Subscribed
          </button>
        </div>
      </div>
    </div>

  </div>


  <script type="text/ng-template" id="checkoutForm.html">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Subscribe to a plan</h3>
      </div>

      <div class="modal-body" id="modal-body">

        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <select class="form-control"
                  ng-model="selectedPlan"
                  ng-options="o.name for o in planOptions"
                  ng-change="getPrice(selectedPlan)">
              </select>
            </div>
            <div class="col-sm-6">
              <select class="form-control"
                  ng-model="selectedPeriod"
                  ng-options="o.name for o in periodOptions"
                  ng-change="getPrice(selectedPeriod)">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3>${{price/selectedPeriod.val | number:2}} / monthly <small>Invoicing : ${{price}} / {{selectedPeriod.name}}</small></h3>
            </div>
          </div>
        </div>

        <h3>Enter your credit card info</h3>
        <hr>
        <form stripe-form="stripeCallback" ng-hide="confirmation">
          <div class="form-group">
            <input ng-model="name" placeholder="Name on card"  class="form-control input-lg" />
          </div>
          <div class="form-group">
            <input ng-model="number" placeholder="Card Number" payments-validate="card"  payments-format="card" class="form-control input-lg" required />
          </div>
          <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <input ng-model="expiry" placeholder="Expiration" payments-validate="expiry"  payments-format="expiry" class="form-control input-lg" required />
            </div>
            <div class="col-xs-4">
              <input ng-model="cvc" placeholder="CVC" payments-validate="cvc"  payments-format="cvc" class="form-control input-lg" required />
            </div>
          </div>
          </div>
          <div ng-show="carderror" class="alert alert-danger">
            <strong ng-bind="carderror"></strong>
          </div>

          <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default btn-block btn-lg" ng-click="cancel()">Cancel</a>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            </div>
          </div>

        </form>
      </div>
  </script>


</section>
