.loader .spinner {
	background: url('loader.gif') no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
}
ul.drop-list {
	height: 200px;
	width: 100%;
	border: 1px solid #ccc;
	list-style: none;
	padding: 5px;
}
ul.drop-list li {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
}
ul.drop-list li.dndPlaceholder {
	width: 140px;
	height: 34px;
	display: inline-block;
}
ul.drop-list li.dndPlaceholder:before {
	content: "";
	width: 100px;
	height: 100%;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: middle;
	background-color: #eee;
}
ul.drop-list li.dndPlaceholder .arrow {
	font-size: 20px;
  margin: 0 8px 0 5px;
  display: inline-block;
  vertical-align: middle;
}
ul.drop-list li.task-arrow:after {
	font-family: FontAwesome;
  content: "\f178";
  margin: 0 10px;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}
.panel-group .panel {
	border-radius:0;
}
.panel-group .panel + .panel {
	margin-top:0;
}
.current-process {
	display:inline-block;
	margin-left: 20px;
}
.current-process-text {
	font-size: 16px;
	margin-bottom: 5px;
}
.content {
	margin-top: 10px;
}
