<h1>My Subscription</h1>

<div class="well" ng-show="mySubscription.free">
  You are on the free plan
  <hr>
  <div class="row">
    <div class="col-sm-6"><a ui-sref="pricing" class="btn btn-default btn-block btn-lg">Compare plans</a></div>
    <div class="col-sm-6"><a ng-click="updateSubscription()" class="btn btn-primary btn-block btn-lg">Update your Subscription</a></div>
  </div>

</div>


<div ng-show="mySubscription.plan">
  <table class="table">
    <tr>
      <th>Plan</th>
      <th>Price</th>
      <th>Next Invoice</th>
    </tr>
    <tr>
      <td>{{mySubscription.plan.name}}</td>
      <td>${{mySubscription.plan.amount/100}} / {{mySubscription.plan.interval}}</td>
      <td>{{mySubscription.current_period_end * 1000 | date:"MM/dd/yyyy"}}</td>
    </tr>
  </table>
  <div class="row">
    <div class="col-sm-6"><a href="/pricing" class="btn btn-default btn-block btn-lg">Compare plans</a></div>
    <div class="col-sm-6"><a ng-click="updateSubscription()" class="btn btn-primary btn-block btn-lg">Update your Subscription</a></div>
  </div>
</div>
