<div class="col-md-12">
    <div class="alert alert-danger text-center" ng-if="!UsersProfilePage.founduser && !UsersProfilePage.loading">
        Could not find user.
    </div>
    <div ng-if="UsersProfilePage.founduser && !UsersProfilePage.loading">
        <div class="page-header">
            <span class="h1 text-capitalize" ng-if="UsersProfilePage.isCurrentUser">My Profile</span>
            <span class="h1" ng-if="!UsersProfilePage.isCurrentUser">{{UsersProfilePage.externaluser.username }}</span>
        </div>
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li data-ng-repeat="item in UsersProfilePage.menuItems" data-ui-sref="{{item.state}}" data-ui-sref-active="active">
                <a data-ng-bind="item.title" data-toggle="tab" href=""></a>
            </li>
        </ul>
        <ui-view/>
    </div>

    <!--
    <div class="list-group">
        <div data-ng-repeat="item in UsersProfilePage.userData" class="list-group-item">
            <small class="list-group-item-text">
				Title:
				<span data-ng-bind="item.title | date:'medium'"></span>
				Source:
				<span data-ng-bind="item.source"></span>
			</small>
            <h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>
            <button class="btn btn-secondary" data-ng-hide="UsersProfilePage.isCurrentUser()" data-ng-click="UsersProfilePage.addToUser(item)">
            	Save to My Lab
            </button>
            <a class="btn btn-warning btn-sm" data-ng-show="UsersProfilePage.isCurrentUser()" data-ui-sref="lab.process({data: {item: item}})">
            	Edit
            </a>
        </div>
    </div>
    -->

</div>
