 <div class="modal-body">
  <div class="container-fluid">
    <p>Model Type: {{ModelModal.model.type}}</p>
    <p>Equation: {{ModelModal.model.equation}}</p>
    <p>Full Summary Output: {{ModelModal.model.output}}</p>
    <p>Error/Goodness of Fit Stats: N/A</p>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-md-8">
      <form class="form-inline">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="access">Access</label>
          <select class="form-control">
            <option>Public</option>
            <option>For Sale</option>
            <option>Private</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" ng-click="ModelModal.save();">Save</button>
      <button class="btn btn-danger" ng-click="ModelModal.discard();">Discard</button>
    </div>
  </div>
</div>
