<section>
    <div class="page-header">
        <span class="h1">Edit Post</span>
        <span>
        <span data-ng-if="postsEdit.post.access === 'paid'" class="pull-right glyphicon glyphicon-usd" title="For Sale"></span>
        <span data-ng-if="postsEdit.post.files.length" class="pull-right glyphicon glyphicon-file" title="PDFs attached"></span>
        <span data-ng-if="postsEdit.post.datasets.length" class="pull-right glyphicon glyphicon-list" title="Datasets Attached"></span>
        <span data-ng-if="postsEdit.post.models.length" class="pull-right glyphicon glyphicon-stats" title="Models Attached"></span>
        </span>
    </div>
    <div class="col-md-12">
        <form name="form" class="form-horizontal" ng-submit="postsEdit.update(form)" novalidate>
            <fieldset>
                <div class="form-group row" show-errors>
                    <div class="col-md-2">
                        <label for="title">Title</label>
                    </div>
                    <div class="col-md-10">
                        <input name="title" type="text" ng-model="postsEdit.post.title" id="title" class="form-control" placeholder="Title" required>
                        <div ng-if="form.title.$error && postsEdit.submitted" ng-messages="form.title.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">A post title is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="access">Access</label>
                    </div>
                    <div class="col-md-10">
                        <select name="access" id="access" ng-model="postsEdit.post.access" class="form-control" ng-options="access as (access | capitalize) for access in postsEdit.postOptions.access" required>
                        </select>
                        <div ng-if="form.access.$error && postsEdit.submitted" ng-messages="form.access.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">A access type is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row" show-errors>
                    <div class="col-md-2">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="col-md-10">
                        <select name="subject" id="subject" ng-model="postsEdit.post.subject" class="form-control" ng-options="subject as (subject | capitalize) for subject in postsEdit.postOptions.subjects" required>
                            <option value="">- Select Category -</option>
                        </select>
                        <div ng-if="form.subject.$error && postsEdit.submitted" ng-messages="form.subject.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">A subject is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="content">Content</label>
                    </div>
                    <div class="col-md-10">
                        <textarea name="content" ng-model="postsEdit.post.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-md-offset-11">
                        <button class="btn btn-primary pull-right" type="submit">Next</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
