<section>
    <div class="page-header">
        <span class="h1">Edit Post</span>
        <span>
        <span data-ng-if="postsEdit.post.access === 'paid'" class="pull-right glyphicon glyphicon-usd" title="For Sale"></span>
        <span data-ng-if="postsEdit.post.files.length" class="pull-right glyphicon glyphicon-file" title="PDFs attached"></span>
        <span data-ng-if="postsEdit.post.datasets.length" class="pull-right glyphicon glyphicon-list" title="Datasets Attached"></span>
        <span data-ng-if="postsEdit.post.models.length" class="pull-right glyphicon glyphicon-stats" title="Models Attached"></span>
        </span>
    </div>
    <div class="col-md-12">
        <form name="form" class="form-horizontal" ng-submit="postsEdit.update(form)" novalidate>
            <fieldset>
                <div class="form-group row" style="margin-left: -30px;">
                    <div class="col-md-6">
                        <label for="subject">Subject</label>
                        <select name="subject" id="subject" ng-model="postsEdit.post.subject" class="form-control" ng-options="subject as (subject | capitalize) for subject in postsEdit.postOptions.subjects">
                            <option value="">- Select Category -</option>
                        </select>
                        <!--<div class="btn-group" dropdown>
                            <button id="subject-dropdown" class="btn btn-default text-capitalize" type="button" dropdown-toggle>
                                {{postsEdit.post.subject||'select'}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="subject-dropdown">
                                <li role="menuitem" ng-repeat="subject in postsEdit.postOptions.subjects">
                                    <a href="#" data-ng-click="postsEdit.post.subject=subject" class="text-capitalize">{{subject}}</a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="col-md-6">
                        <label for="access">Access</label>
                        <select name="access" id="access" ng-model="postsEdit.post.access" class="form-control" ng-options="access as (access | capitalize) for access in postsEdit.postOptions.access">
                            <option value="">- Select Access -</option>
                        </select>
                        <!--<div class="btn-group" dropdown>
                            <button id="access-dropdown" class="btn btn-default text-capitalize" type="button" dropdown-toggle>
                                {{postsEdit.post.access||'select'}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="access-dropdown">
                                <li role="menuitem" ng-repeat="access in postsEdit.postOptions.access">
                                    <a href="#" data-ng-click="postsEdit.post.access=access" class="text-capitalize">{{access}}</a>
                                </li>
                            </ul>
                        </div>-->
                        <span class="error-text text-danger" ng-show="form.accessError" ng-hide="postsEdit.post.access">{{postsEdit.accessError}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row col-md-12">
                        <label>Models</label>
                        <p ng-show="!postsEdit.post.models || postsEdit.post.models.length === 0">No models linked.</p>
                        <div ng-show="postsEdit.post.models.length">
                            <ul data-ng-if="postsEdit.post.models" class="list-inline">
                                <li data-ng-repeat="model in postsEdit.post.models track by $index" class="badge text-capitalize">
                                    <span data-ng-click="postsEdit.post.models.splice($index, 1)" class="glyphicon glyphicon-remove" href="#"></span>
                                    <a href="#" class="h5">{{model.title}}</a>
                                </li>
                            </ul>
                            <br/>
                        </div>
                        <select name="model" id="model" ng-model="postsEdit.model" class="form-control" ng-options="model as model.title for model in postsEdit.models">
                            <option value="">- Select Model -</option>
                        </select>
                        <button ng-show="postsEdit.model" data-ng-click="postsEdit.addModel(postsEdit.model)" class="btn btn-default text-capitalize" type="button" dropdown-toggle>
                            Add Model
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label>Datasets</label>
                    <p ng-show="!postsEdit.post.datasets || postsEdit.post.datasets.length === 0">No datasets linked.</p>
                    <div ng-show="postsEdit.post.datasets.length">
                        <ul data-ng-if="postsEdit.post.datasets" class="list-inline">
                            <li data-ng-repeat="dataset in postsEdit.post.datasets track by $index" class="badge text-capitalize">
                                <span data-ng-click="postsEdit.post.datasets.splice($index, 1)" class="glyphicon glyphicon-remove" href="#"></span>
                                <a href="#" class="h5">{{dataset.title}}</a>
                            </li>
                        </ul><br/>
                    </div>
                    <select name="dataset" id="dataset" ng-model="postsEdit.dataset" class="form-control" ng-options="dataset as dataset.title for dataset in postsEdit.datasets">
                        <option value="">- Select Dataset -</option>
                    </select>
                    <button ng-show="postsEdit.dataset" data-ng-click="postsEdit.addDataset(postsEdit.dataset)" class="btn btn-default text-capitalize" type="button" dropdown-toggle>
                        Add Dataset
                    </button>
                </div>
                <div class="form-group">
                    <label>PDFs</label>
                    <p ng-show="!postsEdit.post.files || postsEdit.post.files.length === 0">No PDF files linked.</p>
                    <div ng-show="postsEdit.post.files.length">
                        <ul class="list-inline">
                            <li ng-repeat="file in postsEdit.post.files track by $index" class="badge">
                                <span class="glyphicon glyphicon-file"></span> {{file.name}}
                                <span ng-click="postsEdit.post.files.splice($index,1)" class="glyphicon glyphicon-remove"></span>
                            </li>
                        </ul>
                        <br/>
                    </div>
                    <select ng-model="existingFile" class="form-control" ng-options="file as file.name for file in postsEdit.user.files">
                        <option value="">- Existing Files -</option>
                    </select>
                    <a href="" class="btn btn-default" ng-show="existingFile" ng-click="postsEdit.addExistingFile(existingFile)">
                        Select existing PDF
                    </a>
                    <span ng-hide="vm.uploader.queue.length">
                        <span class="btn btn-default btn-file">
                          Add PDF
                          <input type="file" nv-file-select uploader="uploader"/>
                         </span>
                    </span>
                </div>

                <div class="form-group" show-errors>
                    <label for="title">Title</label>
                    <input name="title" type="text" ng-model="postsEdit.post.title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-if="form.title.$error && !postsEdit.submitted" ng-messages="form.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">A post title is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" ng-model="postsEdit.post.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="form.error" class="text-danger">
                    <strong>{{form.error}}</strong>
                </div>

            </fieldset>
        </form>
    </div>
</section>
