<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1 ng-bind="AdminUserDetail.user.displayName"></h1>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary" ui-sref="admin.user.edit({ userId: AdminUserDetail.user._id })">
                    <i class="icon icon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="remove();" ng-if="AdminUserDetail.user._id !== AdminUserDetail.authentication.user._id">
                    <i class="icon icon-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3"><strong>First Name</strong></div>
                <div class="col-md-6" ng-bind="AdminUserDetail.user.firstName"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3"><strong>Last Name</strong></div>
                <div class="col-md-6" ng-bind="AdminUserDetail.user.lastName"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3"><strong>Email</strong></div>
                <div class="col-md-6" ng-bind="AdminUserDetail.user.email"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3"><strong>Provider</strong></div>
                <div class="col-md-6" ng-bind="AdminUserDetail.user.provider"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3"><strong>Created</strong></div>
                <div class="col-md-6" ng-bind="AdminUserDetail.user.created"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3"><strong>Roles</strong></div>
                <div class="col-md-6" ng-bind="AdminUserDetail.user.roles"></div>
            </div>
        </div>
    </div>
</section>
