li a:visited {
    text-decoration: none;
}

li.active {
    border-bottom: 2px solid navy;
}

li.active > a {
    font-weight: bold;
}

.badge {
    margin: 0.5em;
}

.page-header .glyphicon {
    margin-right: 1em;
    margin-left: 2em;
}