li a:visited {
    text-decoration: none;
}

.badge {
    margin: 0.5em;
}

.page-header {
    margin-top: 1em;
}

.page-header a {
    text-decoration: none;
}

.page-header li {
    margin: 2.25em 2.25em 2.5em 0;
}

.page-header li.active {
    border-bottom: 3px solid #337ab7;
}

.page-header .glyphicon {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.list-group-item .glyphicon {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/** name .post-modal because .modal is taken and prevents modal from showing. **/

.post-modal .list-group {
    max-height: 20em;
    overflow-y: scroll;
}

.list-group-item {
    padding-bottom: 1.2em;
}