<h1>Lab</h1>

<div class="top-bar">
  <div class="btn-group pull-left" dropdown>
    <button id="dropdown-datasets" class="btn btn-default" type="button" dropdown-toggle>
      {{ ProcessMain.selectedDataset ? ProcessMain.selectedDataset : "Datasets" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-datasets">
      <li role="menuitem" ng-repeat="dataset in ProcessMain.usersDatasets">
        <a href="#" ng-click="ProcessMain.onDatasetChange(dataset, true)">{{dataset.title}}</a>
      </li>
    </ul>
  </div>
  <div class="current-process" ng-if="ProcessMain.process">
    <div class="current-process-text" ng-if="!ProcessMain.showProcessLoader">
      Current Selected Workflow: <span ng-if="ProcessMain.process">{{ProcessMain.process.title}}</span> <span ng-if="!ProcessMain.process">(EMPTY)</span>
    </div>
    <div class="current-process-text" ng-if="ProcessMain.showProcessLoader">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> Running {{ProcessMain.process.title}}</span>
    </div>
    <button class="btn btn-default"
            ng-disabled="!ProcessMain.process || !ProcessMain.dataset.rows.length || !ProcessMain.dataset.columns.length"
            ng-if="!ProcessMain.showProcessLoader"
            ng-click="ProcessMain.performProcess()">
      Perform Workflow
    </button>
    <button class="btn btn-default"
            ng-if="ProcessMain.showProcessLoader"
            ng-click="ProcessMain.cancelProcess()">
      Stop Workflow
    </button>
    <button class="btn btn-default" ng-disabled="!ProcessMain.process" ng-click="ProcessMain.saveProcess()">Save</button>
    <button class="btn btn-default" ng-disabled="!ProcessMain.process" ng-click="ProcessMain.openModal('edit')">Edit</button>
  </div>
  <div class="pull-right">
    <button class="btn btn-primary" ng-click="ProcessMain.openModal('create')">Create NEW Workflow</button>
    <div class="btn-group" uib-dropdown ng-if="ProcessMain.usersProcesses.length > 0">
      <button id="dropdown-processes" class="btn btn-default" type="button" uib-dropdown-toggle>
        Use Saved Workflow <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdown-processes">
        <li role="menuitem" ng-repeat="process in ProcessMain.usersProcesses">
          <a href="#" ng-click="ProcessMain.onProcessChange(process)">{{process.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="content">
  <uib-alert ng-repeat="alert in ProcessMain.alerts" type="{{alert.type}}" close="ProcessMain.closeAlert($index)">{{alert.msg}}</uib-alert>
  <div class="loader text-center" ng-show="ProcessMain.showLoader">
    <i class="spinner"></i>
  </div>
    <div class="row">
        <div class="col-md-12" ng-show="!ProcessMain.showLoader">
            <p ng-show="!ProcessMain.showLoader && ProcessMain.selectedDataset != ''">{{ ProcessMain.totalItems }} total records</p>
        </div>
        <div class="col-md-3 pull-right" ng-show="!ProcessMain.showLoader && ProcessMain.selectedDataset != ''">
            <label>Rows per page:</label>
            <select ng-model="ProcessMain.itemsPerPage" ng-change="ProcessMain.pageChanged()" class="form-control">
                <option>10</option>
                <option>25</option>
                <option selected>50</option>
                <option>100</option>
                <option>250</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-md-6">
            <ul ng-show="!ProcessMain.showLoader && ProcessMain.totalItems > ProcessMain.itemsPerPage" uib-pagination total-items="ProcessMain.totalItems" ng-model="ProcessMain.currentPage" items-per-page="ProcessMain.itemsPerPage" max-size="5" force-ellipses="true" boundary-links="true" ng-change="ProcessMain.pageChanged()"></ul>
        </div>
        <div class="col-md-12">
          <dataset-table columns="ProcessMain.dataset.columns" rows="ProcessMain.dataset.rows"></dataset-table>
        </div>
        <div class="col-md-6">
            <ul ng-show="!ProcessMain.showLoader && ProcessMain.totalItems > ProcessMain.itemsPerPage" uib-pagination total-items="ProcessMain.totalItems" ng-model="ProcessMain.currentPage" items-per-page="ProcessMain.itemsPerPage" max-size="5" force-ellipses="true" boundary-links="true" ng-change="ProcessMain.pageChanged()"></ul>
        </div>
    </div>
</div>
