<h1>Lab</h1>

<div class="top-bar">
  <div class="btn-group pull-left" dropdown>
    <button id="dropdown-datasets" class="btn btn-default" type="button" dropdown-toggle>
      {{ ProcessMain.selectedDataset ? ProcessMain.selectedDataset : "Datasets" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-datasets">
      <li role="menuitem" ng-repeat="dataset in ProcessMain.usersDatasets">
        <a href="#" ng-click="ProcessMain.onDatasetChange(dataset)">{{dataset.title}}</a>
      </li>
    </ul>
  </div>
  <div class="current-process">
    <div class="current-process-text">Current Selected Process: <span ng-if="ProcessMain.process">{{ProcessMain.process.title}}</span> <span ng-if="!ProcessMain.process">(EMPTY)</span></div>
    <button class="btn btn-default"
            ng-disabled="!ProcessMain.process || !ProcessMain.dataset.row.length || !ProcessMain.dataset.columns.length || ProcessMain.showProcessLoader"
            ng-click="ProcessMain.performProcess()">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-show="ProcessMain.showProcessLoader"></i>  Perform Process
    </button>
    <button class="btn btn-default" ng-disabled="!ProcessMain.process" ng-click="ProcessMain.saveProcess()">Save</button>
    <button class="btn btn-default" ng-disabled="!ProcessMain.process" ng-click="ProcessMain.openModal('edit')">Edit</button>
  </div>
  <div class="pull-right">
    <button class="btn btn-primary" ng-click="ProcessMain.openModal('create')">Create NEW Process</button>
    <div class="btn-group" uib-dropdown>
      <button id="dropdown-processes" class="btn btn-default" type="button" uib-dropdown-toggle>
        Use Saved Process <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdown-processes">
        <li role="menuitem" ng-repeat="process in ProcessMain.usersProcesses">
          <a href="#" ng-click="ProcessMain.onProcessChange(process)">{{process.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="content">
  <uib-alert ng-repeat="alert in ProcessMain.alerts" type="{{alert.type}}" close="ProcessMain.closeAlert($index)">{{alert.msg}}</uib-alert>
  <div class="loader" ng-show="ProcessMain.showLoader">
    <i class="spinner"></i>
  </div>

  <dataset-table columns="ProcessMain.dataset.columns" rows="ProcessMain.dataset.rows"></dataset-table>
</div>
