<section>
    <div class="page-header">
        <h1>Articles</h1>
    </div>
    <div class="list-group">
        <a ng-repeat="article in ArticlesList.articles" ui-sref="articles.detail({articleId: article._id})"
           class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span>{{article.created | date:'mediumDate'}}</span>
                by
                <span ng-if="article.user">{{article.user.displayName}}</span>
                <span ng-if="!article.user">Deleted User</span>
            </small>
            <h4 class="list-group-item-heading">{{article.title}}</h4>
            <p class="list-group-item-text">{{article.content}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center"
         ng-if="ArticlesList.articles.$resolved && !ArticlesList.articles.length">
        No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
    </div>
</section>
