<h2>What do you want to do?</h2>
<br/>
<label><input type="radio" name="selectedoption" ng-model="ProcessStep1.selectedoption" value="lab.process2.step2.existingmodel">&nbsp;&nbsp;&nbsp;I want to use an existing model as a starting point.</label>
<br/><br/>
<label><input type="radio" name="selectedoption" ng-model="ProcessStep1.selectedoption" value="lab.process2.step2.newmodel">&nbsp;&nbsp;&nbsp;I want to fit a new model to a dataset and/or transform a dataset.</label>
<br/><br/>
<div class="text-right">
    <button class="btn btn-primary" ng-click="ProcessStep1.setSelectedOption(ProcessStep1.selectedoption)">Choose your data</button>
</div>

