<h2>Add a predictive model and finalize your workflow!</h2>
<br/>
<div class="container-fluid">
    <form class="form-inline pull-right">
        <div class="form-group">
            <label for="title" style="width: 150px;float: left;" class="control-label">Workflow Title:</label>
            <input type="text" style="width: 400px;float: left;" ng-model="ProcessStep4.process.title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="ProcessStep4.saveProcess()">
                Save Workflow
            </button>
        </div>
    </form>
    <br class="clearfix" /><br/>
    <div class="row">
        <div class="col-md-3 task-accordion">
            <uib-accordion close-others="true">
                <uib-accordion-group ng-repeat="task in ProcessStep4.displayTasks" is-open="task.status.open" class="color-{{task.color}}">
                    <uib-accordion-heading>
                        {{task.title}} <i class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': task.status.open, 'glyphicon-chevron-right': !task.status.open}"></i>
                    </uib-accordion-heading>
                    <ul class="task-list">
                        <li ng-repeat="subtask in task.subtasks"
                            dnd-draggable="subtask"
                            dnd-disable-if="ProcessStep4.disableDrag(subtask)"
                            dnd-type="subtask.returnType"
                            dnd-effect-allowed="copy">
                            {{subtask.title}}
                        </li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
        </div>
        <div class="col-md-9">
            <ul
                class="drop-list"
                dnd-list="task.subtasks"
                dnd-dragover="ProcessStep4.onDrag(event, index, type)"
                dnd-drop="ProcessStep4.onCopy(event, index, item)"
                dnd-horizontal-list="true">
                <li class="dndPlaceholder">
                    <i ng-show="ProcessStep4.showPlaceholderArrow" class="fa fa-long-arrow-right arrow"></i>
                </li>
                <li ng-repeat="task in ProcessStep4.process.tasks" ng-class="{'task-arrow': task.returnType == 'dataset'}">
                    <button class="btn btn-default color-{{task.color}}" ng-click="ProcessStep4.onTaskClick(task)">{{task.title}}</button>
                </li>
            </ul>
            <div class="options">
                <div ui-view></div>
            </div>
        </div>
    </div>

    <div class="step4-footer">
        <button class="btn btn-primary pull-right"
                ng-disabled="!ProcessStep4.process"
                ng-if="!ProcessStep4.showProcessLoader && ProcessStep4.process.tasks.length"
                ng-click="ProcessStep4.performProcess()">
            Perform Workflow
        </button>
        <div ng-if="ProcessStep4.showProcessLoader" class="loader pull-right">
            <i class="spinner"></i>
        </div>
        <!--<button class="btn btn-primary pull-right"
                ng-if="ProcessStep4.showProcessLoader"
                ng-click="ProcessStep4.cancelProcess()">
            Stop Workflow
        </button>-->

        <button ng-click="ProcessWizard.goBack()" class="btn btn-seconday pull-left">Back - Prepare you data with transforms</button>
        </div>
</div>
