<h2>Choose your prefit model</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="model">Prefit model with Dataset</label>
            <select id="model" name="model" class="form-control" ng-model="ProcessStep2.selectedmodel" ng-options="model as model.title for model in ProcessStep2.usersModels" ng-change="ProcessStep2.onModelChange(ProcessStep2.selectedmodel)"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Model:</strong> {{ ProcessStep2.selectedmodel.title }}</p>
                <p><strong>Equation:</strong> {{ ProcessStep2.selectedmodel.equation }}</p>
            </div>
            <div class="col-md-6">
                <p><strong>Type:</strong> {{ ProcessStep2.selectedmodel.type }}</p>
            </div>
        </div>
        <div class="selected-dataset">
            <div class="loader text-center" ng-show="ProcessStep2.showModelLoader">
                <i class="spinner"></i>
            </div>
            <div style="width: 100%;overflow: auto;">
                <dataset-table columns="ProcessStep2.currentmodeldataset.columns" rows="ProcessStep2.currentmodeldataset.rows" hasheader="true"></dataset-table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="dataset">New Dataset to Predict Values</label>
            <select id="dataset" name="dataset" class="form-control" ng-model="ProcessStep2.selecteddataset" ng-options="dataset as dataset.title for dataset in ProcessStep2.usersDatasets" ng-change="ProcessStep2.onDatasetChange(ProcessStep2.selecteddataset)"></select>
        </div>
        <div class="selected-dataset">
            <p><strong>New Dataset:</strong> {{ ProcessStep2.selecteddataset.title }}</p>
            <div class="loader text-center" ng-show="ProcessStep2.showLoader">
                <i class="spinner"></i>
            </div>
            <div style="width: 100%;overflow: auto;">
                <dataset-table columns="ProcessStep2.currentdataset.columns" rows="ProcessStep2.currentdataset.rows" hasheader="ProcessStep2.selecteddataset.hasheader"></dataset-table>
            </div>
        </div>
    </div>
</div>

<div>
    <button ng-click="ProcessWizard.goBack()" class="btn btn-seconday pull-left">Back</button>
    <button ng-click="ProcessStep2.saveSelection(ProcessStep2.selectedmodel, ProcessStep2.selecteddataset);" class="btn btn-primary pull-right">Next - Prepare you data with transforms</button>
</div>

