<section class="row" ng-controller="BillingController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-10" >
    <h3>Billing and Subscription</h3>

    <uib-tabset active="active" ng-show="mySubscription">
      <uib-tab index="0" >
        <uib-tab-heading>My Subscription</uib-tab-heading>
        <!--<div class="well">
          Change my plan
          <div class="row">
            <div class="col-sm-6">
              <select class="form-control"
                  ng-model="selectedPlan"
                  ng-options="o.name for o in planOptions"
                  ng-change="getPrice(selectedPlan)">
              </select>
            </div>
            <div class="col-sm-6">
              <select class="form-control"
                  ng-model="selectedPeriod"
                  ng-options="o.name for o in periodOptions"
                  ng-change="getPrice(selectedPeriod)">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3>${{price/selectedPeriod.val | number:2}} / monthly <small>Invoicing : ${{price}} / {{selectedPeriod.name}}</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary btn-block" ng-click="selectPlan()">Update Plan</button>
            </div>
          </div>
          <h4 ng-show="confirmation" ng-bind="confirmation"></h4>
          <h4 ng-show="submitting" ng-bind="submitting"></h4>
          <h4 ng-show="carderror" ng-bind="carderror" class="text-danger"></h4>
        </div>-->

        <div class="well" ng-show="mySubscription.free">
          You are on the free plan
          <hr>
          <a href="/pricing" class="btn btn-primary btn-block btn-lg">Update your Subscription</a>
        </div>
        <div ng-show="mySubscription.plan">
          <table class="table">
            <tr>
              <th>Plan</th>
              <th>Price</th>
              <th>Next Invoice</th>
            </tr>
            <tr>
              <td>{{mySubscription.plan.name}}</td>
              <td>${{mySubscription.plan.amount/100}} / {{mySubscription.plan.interval}}</td>
              <td>{{mySubscription.current_period_end * 1000 | date:"MM/dd/yyyy"}}</td>
            </tr>
          </table>
          <a href="/pricing" class="btn btn-primary btn-block btn-lg">Update your Subscription</a>
        </div>
      </uib-tab>

      <uib-tab index="1" ng-show="billing.last4">
        <uib-tab-heading>Billing</uib-tab-heading>
        <table class="table">
          <tr>
            <td>{{billing.brand}} {{billing.funding}}</td>
            <td>**** **** **** {{billing.last4}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{billing.name}}</td>
          </tr>
          <tr>
            <td>Expiration Date</td>
            <td>{{billing.exp_month}} / {{billing.exp_year}}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{billing.country}}</td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary" ng-click="changeCreditCard()">Change my credit card</button>
      </uib-tab>
      <uib-tab index="2" ng-show="invoices.length">
        <uib-tab-heading >Invoices</uib-tab-heading>

        <table class="table small">
          <tr>
            <th>amount</th>
            <th>date</th>
            <th>paid</th>
            <th>item</th>
            <th>total</th>
          <tr>
          <tr ng-repeat="(key, invoice) in invoices">
            <td>${{invoice.amount_due/100 | number:2}}</td>
            <td>{{invoice.date * 1000 | date:"MM/dd/yyyy"}}</td>
            <td>
              <span ng-if="invoice.paid" class="fa fa-check text-success"></span>
              <span ng-if="!invoice.paid" class="fa fa-times text-danger"></span>
            </td>
            <td><div ng-repeat="(key, line) in invoice.lines.data"> {{line.plan.name}} </div></td>
            <td>${{invoice.total/100 | number:2}}</td>
          </tr>
        </table>

      </uib-tab>
    </uib-tabset>


    <script type="text/ng-template" id="creditCardForm.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Enter your credit card info to continue</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <form stripe-form="stripeCallback" ng-hide="confirmation">
            <div class="form-group">
              <input ng-model="name" placeholder="Name on card"  class="form-control input-lg" />
            </div>
            <div class="form-group">
              <input ng-model="number" placeholder="Card Number" payments-validate="card"  payments-format="card" class="form-control input-lg" required />
            </div>
            <div class="form-group">
            <div class="row">
              <div class="col-xs-8">
                <input ng-model="expiry" placeholder="Expiration" payments-validate="expiry"  payments-format="expiry" class="form-control input-lg" required />
              </div>
              <div class="col-xs-4">
                <input ng-model="cvc" placeholder="CVC" payments-validate="cvc"  payments-format="cvc" class="form-control input-lg" required />
              </div>
            </div>
            </div>
            <div ng-show="carderror" class="alert alert-danger">
              <strong ng-bind="carderror"></strong>
            </div>

            <div class="row">
              <div class="col-xs-6">
                  <a class="btn btn-default btn-block" ng-click="cancel()">Cancel</a>
              </div>
              <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>

          </form>
        </div>
    </script>
</section>
