<section class="row" ng-controller="GettingPaidController">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" >

      <label for="country" class="control-label">Country:</label>
        <select name="country"
          ng-model="country"
          ng-options="o.name for o in countries"
          ng-change="selectCountry(country)" class="form-control"/>


<div class="well" ng-if="country.code!='US'">
<a href="#" class="stripe-connect btn btn-primary"><span>Connect with Stripe</span></a>
</div>


  <form class="form company" name="form" ng-if="country.code=='US'" ng-submit="validate(form)"  novalidate>


    <h2>Account details</h2>
    <div class="form-group">
      <label for="type" class="control-label">Your business type:</label>
      <select name="type" ng-model="type"
      ng-options="o.name for o in businessTypes"
      ng-change="selectType(type)" class="form-control" />
    </div>

    <div class="form-group" ng-if="type.code != 'sole_prop'">
      <label for="biz_legal_name" class="control-label">Legal name:</label>
      <input class="form-control" name="biz_legal_name" placeholder="Company, Inc." type="text" ng-model="legal_entity.business_name"  required>
    </div>

    <div class="form-group">
      <label for="biz_tax_id_no" class="control-label">EIN (Tax ID):</label>
      <input class="form-control" name="tax_id" autocomplete="off" placeholder="123456789" type="text" ng-model="legal_entity.business_tax_id" >
    </div>

    <div class="form-group">
      <label for="biz_street" class="control-label">Business address:</label>
      <input class="form-control" name="street" placeholder="Street" type="text" ng-model="legal_entity.address.line1" required>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <input class="form-control" name="zip" autocomplete="off" placeholder="ZIP" type="text" ng-model="legal_entity.address.postal_code" required>
      </div>
      <div class="col-sm-4">
        <input class="form-control" name="city" placeholder="City" type="text" ng-model="legal_entity.address.city" required>
      </div>
      <div class="col-sm-4">
        <select name="state" name="type" ng-model="legal_entity.address.state"
          ng-options="state for state in states"
          ng-change="selectState(state)" class="form-control" />
      </div>
    </div>

    <h2 ng-if="type.code == 'sole_prop'">Your personal details</h2>
    <h2 ng-if="type.code != 'sole_prop'">You, the company representative</h2>
    <div class="form-group row">
      <div class="col-sm-6">
        <input class="form-control" name="first_name" placeholder="First" ng-model="legal_entity.first_name" type="text" required>
      </div>
      <div class="col-sm-6">
        <input class="form-control" name="last_name" placeholder="Last" ng-model="legal_entity.last_name" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="dob">Date of birth:</label>
       <input type="text" class="form-control" placeholder="mm / dd / yyyy"  ng-model="legal_entity.dob" dob-validate dob-format required/>
    </div>

    <div class="form-group">
      <label class="control-label" for="owner_ssn_last_4">Social Security Number:</label>
      <input  class="form-control" name="owner_ssn_last_4" placeholder="9999" maxlength="4" type="text" ng-model="legal_entity.ssn_last_4" >
      We use the last four digits to verify your identity.
    </div>

    <div class="form-group">
      <label class="control-label" for="owner_ssn_last_4">Personal id number:</label>
      <input  class="form-control" name="personal_id_number" placeholder="12345678910" maxlength="20" type="text" ng-model="legal_entity.personal_id_number" >
      We use the last four digits to verify your identity.
    </div>

    <h2>Bank details</h2>
    <p class="explanation bank_extra">Your bank account must be a checking account.</p>
    <div class="form-group">
      <label class="control-label" for="account_number">Routing number:</label>
      <input data-number-type="routing" class="routing form-control" name="routing_number" placeholder="111000000" type="text" required>
    </div>

    <div class="form-group">
      <label class="control-label" for="account_number">Account number:</label>
      <input class="form-control" name="account_number" autocomplete="off" placeholder="" maxlength="34" type="text" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="account_number">Confirm account number:</label>
      <input class="form-control" name="account_number_validate" autocomplete="off" placeholder="" maxlength="34" type="text" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit My Account Details</button>
  </form>
  <div style="height:350px"></div>
  </div>
  </div>
</section>
