<section>
    <div class="row">
        <div class="col-md-12 text-center page-header">
            <span data-ng-show="postsList.state != 'home' && postsList.state != 'posts.search'" class="h2 pull-left">Posts</span>
            <span data-ng-show="postsList.state === 'posts.search'" class="h2 pull-left">Posts search results matching "{{ postsList.value }}"</span>
            <ul data-ng-if="postsList.menuItems" class="list-inline">
                <li data-ng-repeat="item in postsList.menuItems" data-ui-sref-active="active" data-ng-class="{'active': item === postsList.value}" class="list-item">
                    <a href="" data-ng-click="postsList.getPosts(postsList.field, item)" data-ng-bind="item" class="text-capitalize h4"></a>
                </li>
            </ul>
            <a data-ng-if="postsList.ownership || postsList.showCreate" data-ui-sref="posts.create" class="h4 pull-right header-secondary-title">Create Post</a>
        </div>
    </div>
    <div class="row text-right" style="padding-right: 15px;">
        <span class="icon icon-news legend-icon" title="PDFs attached"></span> PDF's Attached
        <span class="icon icon-list legend-icon" title="Datasets Attached"></span> Datasets Attached
        <span class="icon icon-pie-chart legend-icon" title="Models Attached"></span> Models Attached
    </div>
    <br/>
    <form ng-if="!postsList.modal && postsList.state === 'posts.list'" ng-submit="postsList.search()" class="datasets-search-container">
        <input class="form-control" type="text" ng-model="postsList.query">
        <button ng-click="postsList.search()" class="btn btn-secondary" type="button">
            <i ng-hide="postsList.loading" class="icon icon-magnifying-glass"></i>
            <i ng-show="postsList.loading" class="icon icon-hour-glass"></i>
        </button>
    </form>
    <div class="list-group">
        <div data-ng-repeat="post in postsList.list | limitTo: postsList.postLimit" ui-sref="posts.detail({postId: post._id})" class="list-group-item posts">
            <div class="row">
                <div class="col-md-6">
                    <small class="list-group-item-text">
                        <span ng-if="!post.user">Unknown User -</span>
                        <span ng-if="post.user">{{ post.user.username }} - </span> <span>{{post.created | date:'mediumDate'}}</span>
                        <span ng-if="post.subject"> - {{post.subject | capitalize }}</span>
                        <p class="post-title">{{post.title}}</p>
                    </small>
                </div>
                <div class="col-md-6 buttons">
                    <span ng-if="post.files.length" class="pull-right icon icon-news" title="PDFs attached"></span>
                    <span ng-if="post.datasets.length" class="pull-right icon icon-list" title="Datasets Attached"></span>
                    <span if="post.models.length" class="pull-right icon icon-pie-chart" title="Models Attached"></span>
                </div>
            </div>
            <!--<p class="list-group-item-text">{{post.content}}</p>-->
        </div>
    </div>
    <div class="alert alert-warning text-center" ng-show="!postsList.list.length && postsList.resolved">
        No Posts found.
    </div>

</section>
