<section>
    <div class="page-header">
        <h1>Search User Profiles</h1>
    </div>
    <input type="text" ng-model="UsersList.q">         
    <button ng-click="UsersList.search()" type="button">Search</button>
    
    <div class="list-group">
        <div data-ng-repeat="user in UsersList.users" class="list-group-item">
			<small class="list-group-item-text">
				Username: 
				<span> {{user.username}} </span>
			</small>
                <a class="btn btn-primary" ui-sref="users.profilepage({ username: user.username })">Go to user's page</a>
        </div>
        
        
    </div>
    
</section>