<section>
  <div class="page-header">
    <h1>Search Companies</h1>
  </div>
    <form ng-submit="vm.search()" class="datasets-search-container">
        <input class="form-control" type="text" ng-model="vm.query">
        <button ng-click="vm.search()" class="btn btn-secondary" type="button">
            <i ng-hide="vm.loading" class="icon icon-magnifying-glass"></i>
            <i ng-show="vm.loading" class="glyphicon glyphicon-hourglass"></i>
        </button>
    </form>
    <div class="list-group" ng-if="!vm.loading">
        <div ng-repeat="company in vm.companies track by $index" class="list-group-item dataset" ui-sref="companies.view({ companyId: company.ticker })">
            <strong><span>{{ company.ticker }}</span> <span ng-if="company.name && company.name != ''">- {{ company.name }}</span></strong>
            <span class="pull-right">
                <span ng-if="company.haseod && company.hasstatements">Stock Price Information&nbsp;|&nbsp;Financial Statements Available</span>
                <span ng-if="company.haseod && !company.hasstatements">Stock Price Information</span>
                <span ng-if="!company.haseod &&company.hasstatements">Financial Statements Available</span>
            </span>
        </div>
    </div>
    <p ng-if="!vm.loading && vm.companies.length == 0"><strong>No companies found for the search phrase.</strong></p>
</section>
