<section>
  <div class="page-header">
    <h1>{{ vm.company.eod && vm.company.eod.dataset.datasetcode ? vm.company.eod.dataset.datasetcode : vm.company.statements.ticker  }} {{ vm.company.eod && vm.company.eod.dataset.name ? vm.company.eod.dataset.name : vm.company.statements.name }}</h1>
    <p ng-if="vm.displayeod"><span class="eod-price">${{ vm.company.eod.dataset.data[0][4]}}</span> as of EOD {{ vm.company.eod.dataset.data[0][0] }}</p>
    <div ng-if="vm.displayeod">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li ng-repeat="period in vm.periodList" ng-click="vm.showEODData(period)" ng-class="{'active' : vm.activePeriodTab == period }"><a href="">{{ period }}</a></li>
        </ul>
    </div>
    <div class="row" ng-if="vm.displayeod && vm.activePeriodTab != ''">
      <div class="col-md-6">Chart Here</div>
      <div class="col-md-6">
          <div class="loader" ng-show="vm.loadingEodData"><i class="spinner"></i></div>
          <div style="overflow: auto;max-height: 200px;" ng-hide="vm.loadingEodData">
            <dataset-table columns="vm.company.eod.dataset.column_names" rows="vm.transformedRows" hasheader="true"></dataset-table>
          </div>
          <button class="btn btn-primary pull-right" ng-click="vm.saveDataset()">Save to my Page</button>
      </div>
    </div>
  </div>
  <div class="container">
      <div ng-if="vm.displaystatements">
          <div class="row">
              <div class="col-md-4" ng-if="vm.statementslist.length > 0">
                <h3>Statements</h3>
                <ul class="list-unstyled">
                    <li ng-repeat="statement in vm.statementslist" ng-click="vm.loadStatement(statement)"><a href="">{{ statement }}</a></li>
                </ul>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <label for="period" class="control-label col-md-4">Statement Period:</label>
                      <select id="period" ng-model="vm.period" ng-change="vm.changePeriod(vm.period)" class="form-control col-md-2" ng-options="period for period in vm.periods">
                      </select>
                  </div>
                  <div class="clearfix"></div>
                  <h4>{{ vm.statementname }}</h4>
                  <div class="statement-container" ng-bind-html="vm.statement"></div>
              </div>
          </div>
      </div>
      <div class="row" ng-if="!vm.loading && !vm.displaystatements">
          <p>No statements available for this company.</p>
      </div>
  </div>
</section>
